<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script>
            function searchSongs() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("song_search");
                filter = input.value.toUpperCase();
                table = document.getElementById("all_songs_table");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    tdElems = tr[i].getElementsByTagName("td")
                    songTd = tdElems[0];
                    artistTd = tdElems[1]
                    hide = true
                    if (songTd) {
                        txtValue = songTd.textContent || songTd.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            hide = false
                        }
                    }
                    if (artistTd && hide){
                        txtValue = artistTd.textContent || artistTd.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            hide = false
                        }
                    }
                    if (hide){
                        tr[i].style.display = "none"
                    }
                    else{
                        tr[i].style.display = ""
                    }
                }
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">NYE Music Selector</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Export Songs</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Welcome, {{ user.name }}</h1>
            <h4>Category</h4>
            <select class="form-control" name="categories" id="cats" form="selection_form">
                    <option>Select a Category</option>
                    {% for category in categories %}
                        <option value={{ category.id }} {% if selected_category %}{% if selected_category|int() == category.id|int() %}selected{% endif %}{% endif %} >
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            <h4>Song Title</h4>
            <input type="text" class="form-control" name="song_title" {% if song_title %}value="{{ song_title }}"{% endif %} form="selection_form">
            <h4>Artist</h4>
            <input type="text" class="form-control" name="artist" {% if artist %}value="{{ artist }}"{% endif %} form="selection_form">
            <input type="hidden" name="user" value={{ user.id }} form="selection_form">
            <button type="submit" class="btn btn-primary mr-10" form="selection_form">Submit</button>
            <form action="/selection" method="POST" id=selection_form></form>
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <h2>Your Songs for the Upcoming NYE</h2>
            <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Song</th>
                          <th scope="col">Artist</th>
                          <th scope="col">Category</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for song in songs %}
                        <tr>
                            <td scope="row">{{ song.title }}</td>
                            <td scope="row">{{ song.artist }}</td>
                            <td scope="row">{{ song.category.name }}</td>
                            <form action="/delete/song" method="POST" id=delete_form_{{ song.id }} style="display: none">
                                <input type="hidden" name="user" value={{ user.id }}>
                            </form>
                            <td scope="row"><button class="btn" type="submit" name="delete_button" value={{ song.id }} form="delete_form_{{ song.id }}">Delete</button></td>

                        </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
            <h2>Previously Selected Songs</h2>
            <input type="text" id="song_search" onkeyup="searchSongs()" placeholder="Search for songs..">
            <div class="table-responsive">
                <table class="table" id=all_songs_table>
                    <thead>
                        <tr>
                            <th scope="col">Song</th>
                            <th scope="col">Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in all_songs %}
                            <tr>
                                <td scope="row">{{ song.title }}</td>
                                <td scope="row">{{ song.artist }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /.container -->
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>